body {}

.slider-title {
  display: flex;
  justify-content: center;
  font-family: Clash Display;
  font-size: 50px;
  font-weight: 400;
  color: rgba(42, 37, 75, 1);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  /* position: relative; */
  background-color: black;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  align-items: center;
  max-width: 600px;
  position: relative;
  overflow: hidden;
}

.img-wrapper {
  /* display: flex; */
  margin: 20px;
  overflow: hidden;
}

.img {
  display: none;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;

}

.activeImg {
display: flex;
border-radius: 20px;
}
/* .img-block {
  display: block;
} */

.bottom {
  display: flex;
  justify-content: center;
  margin: 15px;
  gap: 30px;
}

.button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid blueviolet;
}