body {
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.container-hangman {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: auto 0;
  padding: 20px;
  color: white;
  background-color: rgb(175, 201, 29);
}

.hangman-btn {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgb(20, 54, 23);
  color: white;
}

.hangman-alphabet_btns {
  display: flex;
  gap: 5px;
  margin: 20px;
}

.btn {
  width: 30px;
  height: 30px;
  border: 0.5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} 
.btn:hover {
  background-color: white;
}

.hangman-word_line {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
}